.cards {
  width: 100%;
  @include flex-main(column, space-between, center);
  padding: 10px;
  @include media-q($tablet-wide) {
    width: 100%;
    padding: 0px;
    @include flex-main(row, space-between, center);
  }

  &__info {
    flex-basis: 49%;
    height: auto;
    background-color: rgba(171, 183, 183, 0.8);
    @include media-q($desktop-wide) {
      flex-basis: 49%;
      height: 700px;
      background-color: rgba(171, 183, 183, 0.8);
    }
  }
}
