.forecast {
  height: auto;
  @include media-q($tablet-wide) {
    height: 100vh;
  }
  &__video {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -1000;
  }
  &__bg {
    background-image: url(../images/weather-bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    z-index: -1000;
  }
}
