.forecast {
  height: auto;
  @include media-q($tablet-wide) {
    height: 100vh;
  }
  &__video {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -1000;
  }
  &__bg {
    background-image: linear-gradient(
      to right,
      #ffa002,
      #ff7d48,
      #ff5f80,
      #ff59b9,
      #e96ded
    );
    background-size: 300% 300%;
    animation: gradient 3s ease infinite alternate;
    z-index: -1000;
  }
}
