.forecast {
  height: auto;
  @include media-q($tablet-wide){
    height: 100vh;
  }
  &__video {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: 0;
  }
  &__bg{
    background-image: url(../images/weather-bg.jpg);
    background-size: cover;
           -webkit-background-size:cover;
           -moz-background-size:cover;
           -o-background-size:cover;
           background-repeat: no-repeat;
           background-position: center;
           background-attachment: fixed;
    position: relative;
    top: 0;
   
    z-index: 0;
   
   }
}
