.burger {
  width: 40px;
  height: 25px;
  position: absolute;
  right: 20px;
  top: 16%;
  @include media-q($phablet){
    width: 40px;
  height: 25px;
  position: absolute;
  right: 40px;
  top: 50%;
  }
  @include media-q($tablet){
    width: 40px;
    height: 25px;
    position: absolute;
    right: 80px;
    top: 50%;
  }
  @include media-q($tablet-wide){
    width: 40px;
    height: 25px;
    position: relative;
  }
  cursor: pointer;
  &__item:nth-child(1) {
    position: absolute;
    top: 0;
    width: 100%;
    height: 3px;
    background-color: black;
  }

  &__item:nth-child(2) {
    position: absolute;
    top: 50%;
    width: 100%;
    height: 3px;
    background-color: black;
  }
  &__item:nth-child(3) {
    position: absolute;
    top: 100%;
    width: 100%;
    height: 3px;
    background-color: black;
  }
  &__menu {
    width: 200px;
    @include flex-main(column, flex-start, center);
    border-radius:50px 50px 100px 100px;
    background-color: rgba(245, 245, 245, 0.8);
    position: absolute;
    display: none;
    right: 40px;
    top: -40px;
    z-index: 200;
    overflow: hidden;
  

    
  }
  &__menu-title {
    @include font($main-font, 35px, 400, $dark);
    flex-basis: 20%;
    background-image: linear-gradient(to bottom, #f5bc00, #f2ca00, #edd700, #e7e500, #def300);
    border-bottom: 2px dashed $white;
    text-align: center;
 
  }
  &__menu-list {
    width: 100%;
    @include flex-main(row, flex-start, center);
    @include font($main-font, 25px, 400, $dark);
    flex-wrap: wrap;
    flex-basis: 80%;
  }
  &__menu-items {
    padding: 5px;
    cursor: pointer;
    transition: 0.2s ease-in all;
    flex-basis: 100%;
    height: 25%;
    @include flex-main;
    border-right: 2px solid transparent;
     border-left: 2px solid transparent;
     opacity: 0.9;
    &:hover {
     border-right: 2px solid $white;
     border-left: 2px solid $white;
     opacity: 1;
    }
    &:nth-child(1){
      background-image: linear-gradient(to bottom, #def300, #ffb64b, #ff908a, #c287a3, #827e87);
    }
    &:nth-child(2){
      background-image: linear-gradient(to bottom, #827e87, #9a989f, #b4b2b7, #cecdd0, #e9e9e9);
    }
    &:nth-child(3){
      background-image: linear-gradient(to bottom, #e9e9e9, #d8e0f4, #b6dcfe, #7edaff, #00d9f5);
    }
    &:nth-child(4){
      background-image: linear-gradient(to bottom, #00d9f5, #00e9df, #00f4ae, #86f86b, #def300);
    }
  }
}
.pushed {
  transition: 0.2s ease all;

  &:nth-child(1){
    width: 100%;
  }
  &:nth-child(2){
    width: 75%;
  }
  &:nth-child(3){
    width: 50%;
  }
}
