.info {
  @include flex-main(column, flex-start, center);
  border-radius: 20px 20px 0 0;
  z-index: 1;
  width: 100%;
  &__details {
    width: 100%;
    flex-basis:50%;
    margin-bottom: 15px;
    background-image: linear-gradient(to bottom, #ffc400, #ff9436, #ff5a73, #ff32b9, #eb53ff),
      url("https://demo.phpmeteo.com/themes/weather/assets/images/weather/01.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 10px;
    opacity: 0.8;
    @include flex-main(column, space-between, center);
    
    border-radius: 20px 20px 0 0;
    position: relative;
    @include media-q($tablet){
      width: 100%;
      flex-basis: 35%;
      margin-bottom: 15px;
      background-image:linear-gradient(to bottom, #ffc400, #ff9436, #ff5a73, #ff32b9, #eb53ff),
        url("https://demo.phpmeteo.com/themes/weather/assets/images/weather/01.jpg");
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      padding: 10px;
      @include flex-main(column, space-between, center);
      
      border-radius: 20px 20px 0 0;
      position: relative;
    }
  }
  &__title-box {
    width: 100%;
    flex-basis: 50%;
  }
  &__weather-details {
    @include flex-main(column, space-between, center);
    flex-wrap: nowrap;
    width: 100%;
    @include media-q($phone-wide){
      @include flex-main(row, space-between, center);
    flex-wrap: nowrap;
    width: 100%;
    }
  }
  &__temperature-box {
    @include flex-main(column, flex-start, center);
    flex-basis: 60%;
    @include media-q($phone-wide){
      @include flex-main(column, flex-start, center);
      flex-basis: 33.3%;
    }
    @include media-q($desktop-wide){
      @include flex-main(row, flex-start, center);
      flex-basis: 33.3%;
    }
  }

  &__weather-box {
    @include flex-main(column, center, center);
    flex-wrap: wrap;
    flex-basis: 100%;
    @include media-q($phone-wide){
      @include flex-main(row, space-between, center);
      flex-wrap: wrap;
      flex-basis: 66.6%;
    }
  }
  &__values {
    width: 100%;
    @include flex-main(row, flex-start, center);
    padding: 5px;
    @include media-q($tablet){
      flex-basis: 50%;
      @include flex-main(row, flex-start, center);
      padding: 5px;
    }

  }
  &__name {
    @include font($secondary-font, 25px, 500, $white);
  }
  &__main-title {
    @include font($main-font, 40px, 500, $white);
    
    @include media-q($tablet-wide){
      @include font($main-font, 35px, 500, $white);
      font-size: 3.5vw;
    }}
  &__temperature {
    @include font($secondary-font, 120px, 500, $white);
    
    @include media-q($tablet){
      @include font($secondary-font, 80px, 500, $white);
      font-size: 8vw;
    }
    @include media-q($tablet-wide){
      @include font($secondary-font, 80px, 500, $white);
      font-size: 4vw;
    }
  }
  &__weather-icon {
    margin-right: 10px;
    width: 50px;
    height: 50px;
    @include media-q($tablet-wide){
      margin-right: 10px;
      width: 25px;
      height: 25px;
    }
  }
  &__big-weather-icon {
    width: 88px;
    height: 90px;
  }
  &__weather-kind {
  
    @include font($secondary-font, 35px, 600, $white);
    @include media-q($tablet-wide){
      @include font($secondary-font, 20px, 600, $white);
    }
  }
  &__title {
    width: 95%;
    flex-basis: 5%;
    @include font($main-font, 60px, 400, $dark);
    margin-bottom: 15px;
    text-align: center;
    @include media-q($tablet-wide){
      width: 95%;
      flex-basis: 5%;
      @include font($main-font, 35px, 400, $dark);
      margin-bottom: 10px;
      text-align: center;
    }
  }
  &__hourly-info-box {
    width: 95%;
    flex-basis: 80%;
    @include flex-main(column, space-between, center);
  }
  &__forecast-box {
    @include flex-main(column, space-between, center);
  }
  &__hourly-info {
    width: 100%;
    flex-basis: 20%;
    margin-bottom: 10px;
    background-color: rgba(245, 245, 245, 0.3);
    @include flex-main(column, center, center);
    padding: 5px 15px 5px 15px;
    @include media-q($tablet-wide){
      width: 100%;
      flex-basis: 20%;
      margin-bottom: 10px;
      background-color: rgba(245, 245, 245, 0.3);
      @include flex-main(row, space-between, center);
      padding: 5px 15px 5px 15px;
    }
  }
  &__date {
    flex-basis: 11%;
    margin-bottom: 20px;
    @include media-q($tablet-wide){
      flex-basis: 11%;
      margin-bottom: 0px;
    }
  }
  &__hourly-weather-box {
    flex-basis: 70%;
    @include flex-main(row, space-between, center);
    flex-wrap: wrap;
    
  }
  &__hourly-temperature-box {
    flex-basis: 29%;
    @include flex-main(column,center,center);
    @include media-q($tablet-wide){
      flex-basis: 19%;
      @include flex-main;
    }
  }
  &__hourly-values {
    flex-basis: 100%;
   
    @include flex-main(row, flex-start, center);
    @include media-q($tablet){
      flex-basis: 50%;
      @include flex-main(row, flex-start, center);
    }
    &:nth-child(1),
    &:nth-child(2) {
      margin-bottom: 5px;
    }
  }
  &__hourly-big-weather-icon {
    width: 100px;
    height: 100px;
    @include media-q($phone-wide){
      width: 200px;
      height: 200px;
    
  }
    @include media-q($tablet-wide){
      width: 50px;
      height: 50px;
    }
  }
  &__date-time {
    @include font($secondary-font, 25px, 600, $dark);
   
    @include media-q($phone-wide){
      @include font($secondary-font, 55px, 600, $dark);
    }
    @include media-q($tablet-wide){
      @include font($secondary-font, 15px, 600, $dark);
    }
  }
  &__hourly-weather-kind {
    @include font($secondary-font, 15px, 600, $dark);
    @include media-q($phone-wide){
      @include font($secondary-font, 45px, 600, $dark);
    }
    @include media-q($tablet-wide){
      @include font($secondary-font, 15px, 600, $dark);
    }
  }
  &__hourly-temperature {
    padding-left: 50px;
    @include font($secondary-font, 60px, 600, $dark);
    @include media-q($phone-wide){
      @include font($secondary-font, 120px, 600, $dark);
      padding-left: 100px;
    }
    @include media-q($tablet-wide){
      @include font($secondary-font, 40px, 600, $dark);
      padding-left: 0px;
    }
  }
}
