// Fonts
// @import url("");
// Core
@import "./core/vars";
@import "./core/inheritance";
@import "./core/mixins";
@import "./core/common";

// components-->common
@import "./src/css/components/common/sun-icon";
@import "./src/css/components/common/burger";
@import "./src/css/components/common/search-box";
@import "./src/css/components/common/info";
@import "./src/css/components/common/map";
@import "./src/css/components/common/preloader";
@import "./src/css/components/common/preloader-animation";
@import "./src/css/components/common/planet";
// Components
@import "./src/css/components/header";
@import "./src/css/components/footer";
@import "./src/css/components/forecast";
@import "./src/css/components/cards";

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
